<!DOCTYPE html>
<html>
<head>
    <title></title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="static/css/spacelab.css" />
    <link rel="stylesheet" type="text/css" href="static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="static/css/cs-select.css" />
    <link rel="stylesheet" type="text/css" href="static/css/responsive-tables.css" />
</head>
<body>
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="search">iPhemap</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <!-- <li class="active"><a href="#">Active</a></li> -->
          <li class="active"><a href="/">About</a></li>
          <li class=""><a href="/faqs">FAQ's</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/studies">Studies</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/">Research</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
		<div class="clearfix">
        <a href="search">
            <img src="static/img/icon2.png" style="width: 100px; float: left;">
            <h1 style="float: left;"><span style="color:#4A61B8;">iP</span><span style="color: #D56944;">hemap</span></h1>
        </a>
        </div>
        <br>
	    <div style="background: #eee; padding: 20px;">
    	<!-- <h1>About</h1> -->


      <p>
      iPhemap is comprehensive regularly updated database that
aims to provide a field synopsis and catalog all of the in vitro
neuronal disease phenotypes from induced pluripotent stem
cells (iPSCs) derived from patients with neurological diseases.
      </p>

      <p>
You can <a href="search">search</a> cellular and molecular phenotypes from data
from 62 published <a href="/studies">reports</a>. We characterized 428 distinct
cellular phenotypes and the resulting relationships between
gene and phenotype into phenogenetic map that can be used
to build new hypothese sin the field of neurological disease
modeling, and to identify potential new opportunities to
design novel drug strategies.
      </p>

<p>For details on the background and system biology methods used in iPhemap, see the <a href="research">Methods</a> section. The website is developed and maintained by the Imitola Stem Cell <a href="Contact">Group</a>.</p>



    <img src="static/img/explain.png" style="width: 100%;">
    <br><br>



    <p>
iPheMap comprises a comprehensive catalog of phenogenetic profiles from patient
derived-iPSCs from highly curated, published reports and returns:
    </p>

    <ol>
    <li>
Cellular phenotypes reporting morphological,
functional, and process changes from iPSCs, NSCs,
oligodendrocytes, astrocytes, and neurons with
genetic mutations linked to neurological diseases.
    </li>

    <li>
Molecular phenotypes, which stem from the
microarray analysis, are derived from the functional
annotations associated with previously established
genome ontology. These molecular phenotypes
are presented as treemaps, sized according to their
degree of statistical significance.
    </li>

    <li>
    Dysregulated pathways also arising from genome
ontology, which reflect disrupted canonical
pathways.
    </li>
    </ol>
		</div>
    </div>
</body>
</html>

