<!DOCTYPE html>
<html>
<head>
    <title></title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="static/css/spacelab.css" />
    <link rel="stylesheet" type="text/css" href="static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="static/css/cs-select.css" />
    <link rel="stylesheet" type="text/css" href="static/css/responsive-tables.css" />
</head>
<body>
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="search">iPhemap</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <!-- <li class="active"><a href="#">Active</a></li> -->
          <li><a href="/">About</a></li>
          <li class="active"><a href="/faqs">FAQ's</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/studies">Studies</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/">Research</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
		<div class="clearfix">
        <a href="search">
            <img src="static/img/icon2.png" style="width: 100px; float: left;">
            <h1 style="float: left;"><span style="color:#4A61B8;">iP</span><span style="color: #D56944;">hemap</span></h1>
        </a>
        </div>
        <br>
	    <div style="padding: 20px;">
        <h1>FAQ's</h1> 
        <p>Frequently Asked Questions<p>
<div class="list-group">
  <a href="#q1" class="list-group-item">How do I cite iPhemap and the information on it?</a>
  <a href="#q2" class="list-group-item">How do I start a new search?</a>
  <a href="#q3" class="list-group-item">Can I search more than one criterion in the top search bar?</a>
  <a href="#q4" class="list-group-item">How do I find molecular phenotypes rather than cellular phenotypes?</a>
  <a href="#q5" class="list-group-item">There results show no molecular phenotypes when I click on the tab. Is there a problem with the page?</a>
  <a href="#q6" class="list-group-item">When I narrow down my search using the drop down tabs, the results have “none” listed as the phenotypes. What’s wrong?</a>
  <a href="#q7" class="list-group-item">I think I found an error in the information provided on iPhemap. What should I do?</a>
  <a href="#q8" class="list-group-item">I found an article that has information that would be useful to iPhemap but it isn’t included on the site yet. What should I do?</a>
  <a href="#q9" class="list-group-item">Where can I find information on the articles analyzed by iPhemap?</a>
  <a href="#q10" class="list-group-item">Where can I find more information about iPhemap and its creation?</a>
  <a href="#q11" class="list-group-item">I can’t find the disease/cell type I’m looking for in the drop down menu. Is there another way to find it?</a>
  <a href="#q12" class="list-group-item">How were the tree maps or phenotypic results generated?</a>
</div> 



<h4><a name="q1">How do I cite iPhemap and the information on it?</a></h4>
The citation for the website and the usage of it can be accessed on the about page. Click the about tab on the top-left side of the page and you can find the citation towards the bottom. General information provided on iPhemap should be cited through the articles they were found in as well. These studies can be accessed through the “studies” tab on the top-right area of the page or by clicking the pubmed identification number (PMID) found on the results page of each search.



<h4><a name="q2">How do I start a new search? </a></h4>
<p>To start a new search, simply press the iPhemap tab at the top-left area of the page. This should bring you back to the original search page with all criteria blank.<p>


<h4><a name="q3">Can I search more than one criterion in the top search bar?</a></h4>
<p>No. If more than one item is searched in the top bar, the results page will come up with nothing on them. Try individually searching each item or narrowing your results by using the drop down menus below the top bar. <p>

<h4><a name="q4">How do I find molecular phenotypes rather than cellular?</a></h4>
<p>Search the information as you would normally for the cellular phenotypes and then select the “molecular phenotypes” tab at the top of the results page to access this information.<p>

<h4><a name="q5">The results show no molecular phenotypes when I click on the tab. Is there a problem with the page?</a></h4> 
<p>No. Molecular phenotypes are represented through tree maps and are only visible if the information was found. Grey squares next to tree maps represent absent or non-existent data and are not a glitch.<p>

<h4><a name="q6">When I narrow down my search using the drop down tabs, the results have “none” listed as the phenotypes. What’s wrong?</a></h4> 
<p>When narrowing results using the drop down menus, the original search results are still shown but will exhibit the word “none” if they do not have any phenotypes that fit both of the criteria entered. They still show up to indicate that they do match the original search but do not have any information for the latest change.<p>

<h4><a name="q7">I think I found an error in the information provided on iPhemap. What should I do? </a></h4>
<p>Although all precautions were taken to avoid incorrect data from reaching the database, it is possible that an error made its way through. We insist that any incorrect data be brought to our attention as quickly as possible. To do so, please contact us through the “contact” tab on the top-right area of the page with a detailed description of what you think is incorrect. We will work as quickly as possible to correct any mistake and to ensure the validity of the information we are providing. <p>

<h4><a name="q8">I found an article that has information that would be useful to iPhemap but it isn’t included on the site yet. What should I do? </a></h4>
<p>In order to ensure that all information provided was accurate and analyzed effectively, we stopped looking at papers after June 1st, 2014. Any articles not included in the website are vital to keep the website up to date and accurate. We insist that any article not included be submitted either by contacting (tab at top-right of page) us directly or by using the submission page.<p>

<h4><a name="q9">Where can I find information on the articles analyzed by iPhemap? </a></h4>
<p>To access general information of articles analyzed and entered into the iPhemap database, click on the “studies” tab at the top-right of the page.<p>

<h4><a name="q10">Where can I find more information about iPhemap and its creation? </a></h4>
<p>Click on the “research” tab at the top-right of the page to access the article describing the overall process of creating iPhemap and the analysis of the articles/data provided on iPhemap.<p>


<h4><a name="q11">I can’t find the disease/cell type I’m looking for in the drop down menu. Is there another way to find it? </a></h4>
<p>Unfortunately, the drop-down menus list all diseases and cell types in the database. If the items you are hoping to search for are not listed there then we do not have any information on them. <p>

<h4><a name="q12">How were the tree maps or phenotypic results generated? </a></h4>
<p>All methods and detail descriptions of iPhemap’s creation can be accessed through the research tab. See: “Where can I find more information about iPhemap and its creation?”<p>
      
      
      </div>
    </div>
</body>
</html>

