{% extends "ipscdb/default.html" %}      

{% block content %}

{% load highlighter %}
<div style="min-height: 500px">
  <div class="panel panel-default">
    <div class="panel-body">
      <form>
          <div class="form-group">
              <div class="input-group">
                  <input class="form-control" placeholder="Search gene, phenotype, disease, or SNP..." type="text" value="{{ query }}" name="search" id="search">
                  <span class="input-group-btn">
                      <button class="btn btn-default" type="submit" value="">Search</button>
                  </span>
              </div>
          </div>
          <div>
            Examples:
            <i>
              <a href="/search?search=Alzheimer%27s&domain-select=all&disease-select=all">Alzheimer's</a>,
              <a href="/search?search=APP&domain-select=all&disease-select=all">APP</a>,
              <a href="/search?search=NSCs&domain-select=all&disease-select=all">NSCs</a>
            </i>
          </div>
          <div>
              <div class="half-select" id="input-select">
                  <select class="form-control" name="domain-select" >
                      <option value="all" selected>Domain [default: all]</option>
                      {% for domain in domains %}
                      <option value="{{domain}}">{{ domain }}</option>
                      {% endfor %}
                  </select>
              </div>
              <div class="half-select" id="domain-select">
                  <select class="form-control" name="disease-select" >
                      <option value="all" selected>Disease [default: all]</option>
                      {% for disease in diseases %}
                      <option value="{{disease}}">{{ disease }}</option>
                      {% endfor %}
                  </select>
              </div>
          </div>

      </form>
    </div>
  </div>


  <div>
    {% if found %}
    <div role="tabpanel">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist" id="phesel">
          <li role="presentation" class="active" data-toggle="tab">
              <a href="#mol" aria-controls="mol" role="tab" data-toggle="tab">Cellular Phenotypes</a>
              </li>
          <li role="presentation" data-toggle="tab">
              <a href="#cel" aria-controls="cel" role="tab" data-toggle="tab">Molecular Phenotypes</a>
          </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="mol">
          <table class="responsive"><tbody>
                   <tr>
                       <th>Gene</th>
                       <th>Disease</th>
                       <th>Mutation</th>
                       <th>Reference</th>
                       <th>Cellular Phenotypes</th>
                   </tr>
                   {% for gene in found %}
                   <tr>
                       <td><a target="_blank" href="http://www.ncbi.nlm.nih.gov/gene/?term={{ gene.name }}">
                           <i>{{ gene.name|highlight_search:query }}</i></a>
                       </td>
                       <td>{{ gene.disease|highlight_search:query }}</td>
                       <td>{{ gene.snp|highlight_search:query }}</td>
                       <td><a href="/studies?pmid={{ gene.pmid }}#{{ gene.pmid }}">{{ gene.pmid|slugify|highlight_search:query }}</a></td>
                       <td>
                           <table style="table-layout:fixed;"><tbody>
                               <col width="100em"></col>
                               <col></col>
                               {% if gene.showgenephenotypes %}
                                   {% for domain in gene.sorted_phenotypes %}
                                   {% if domain.visible %}
                                         <tr>
                                             {% if domain.name %}
                                             <td>{{ domain.name }}</td>
                                             {% else %}
                                             <td>Unknown</td>
                                             {% endif %}

                                             <td>
                                                 <ul>
                                                 {% for phenotype in domain.phenotypes %}
                                                     <li>{{ phenotype.description|highlight_search:query|highlight }}</li>
                                                 {% endfor %}
                                                 </ul>
                                             </td>
                                         </tr>
                                     {% endif %}
                                     {% endfor %}
                                 {% else %}
                                     <tr>None</tr>
                                 {% endif %}
                             </tbody></table>
                         </td>
                     </tr>
                     {% endfor %}
          </tbody></table>
        </div>

        <div role="tabpanel" class="tab-pane" id="cel">
           <table class="responsive"><tbody>
               <tr>
                   <th>Gene</th>
                   <th>Disease</th>
                   <th>Mutation</th>
                   <th>Reference</th>
                   <th>Gene Ontology &amp; Molecular Pathways</th>
               </tr>
               <tr>
                   <th>Key:</th>
                   <th></th>
                   <th></th>
                   <th>
                       <td>
                       <table style="table-layout:fixed;"><tbody>
                           <col width="200"></col>
                           <col width="200"></col>
                           <col width="200"></col>
                           <tr>
                               <th style="padding-left: 0;">Cell Type</th>
                               <th style="padding-left: 0;">
                                   <!-- <center> -->
                                       <img src="static/img/genekey2.png">
                                   <!-- </center> -->
                               </th>
                               <th style="padding-left: 0;">
                                   <!-- <center> -->
                                       <img src="static/img/pathkey2.png">
                                   <!-- </center> -->
                               </th>
                           </tr>
                       </tbody></table>
                   </th>
               </tr>
               {% for gene in found %}
               <tr>
                   <td><a href="http://www.ncbi.nlm.nih.gov/gene/?term={{ gene.name }}">
                       <i>{{ gene.name|highlight_search:query }}</i></a>
                   </td>
                   <td>{{ gene.disease|highlight_search:query }}</td>
                   <td>{{ gene.snp|highlight_search:query }}</td>
                   <td><a href="/studies?pmid={{ gene.pmid }}#{{ gene.pmid }}">{{ gene.pmid|slugify|highlight_search:query }}</a></td>
                   <td>
                       <table><tbody>
                           <col width="200"></col>
                           <col width="100"></col>
                           <col width="100"></col>
                           <col width="100"></col>
                           <col width="100"></col>
                           <!-- <col width="100"></col>
                           <col width="100"></col> -->
                           {% if gene.showgenefigures %}
                               {% for domain in gene.sorted_phenotypes %}
                               {% if domain.showfigures %}
                                   <tr>
                                       {% if domain.name %}
                                       <td>{{ domain.name }}</td>
                                       {% else %}
                                       <td>Unknown</td>
                                       {% endif %}

                                       {% for figure in domain.figures %}
                                       {% if figure %}
                                       <td>
                                           <a target="_blank"  href="/static/pdf/{{ figure.filename }}">
                                               <img src="/static/pdf/{{ figure.filename }}.png">
                                           </a>
                                       </td>
                                       {% else %}
                                       <td><img src="/static/img/nonesq.png"></td>
                                       {% endif %}
                                       {% endfor %}
                                   </tr>
                               {% endif %}
                               {% endfor %}
                           {% else %}
                               <tr>None</tr>
                           {% endif %}
                       </tbody></table>
                   </td>
               </tr>
               {% endfor %}
             </tbody></table>
          </div>
       </div>
    </div>
    {% endif %}



    {% if found|length == 0 %}
    <p>No Search Results</p>
    {% endif %}
  </div>
</div>
  
<script src="static/js/selectFx.js"></script>
<script>
    (function() {
        [].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {    
            new SelectFx(el);
        } );
    })();
</script>

{% endblock %}
