{% extends "ipscdb/default.html" %}      

{% block content %}
<div> 
  <!--
  <br><br>
  <img src='static/img/contact.jpg' style="width: 200px;">
  <br><br>
  <br>Dr. Jaime Imitola, MD
  <br>Assistant Professor
  <br>Departments of Neurology and Neuroscience
  <br> 
  <br>Degree: M.D University of Cartagena
  <br>Postdoctoral Training: Center for Neurologic Diseases, Harvard Stem Cell Institute,
  <br>Harvard Medical School
  <br> --> 
  <br><b>iPhemap Team</b>
  <br>Laboratory for Neural Stem Cells and Functional Neurogenetics
  <br>Departments of Neurology and Neuroscience
  <br>Email: Jaime.imitola(@)osumc.edu
</div>
{% endblock %}
