{% extends "ipscdb/default.html" %}      

{% block content %}
<div class="tintedb"> 
  <!--
  <br><br>
  <img src='static/img/contact.jpg' style="width: 200px;">
  <br><br>
  <br>Dr. Jaime Imitola, MD
  <br>Assistant Professor
  <br>Departments of Neurology and Neuroscience
  <br> 
  <br>Degree: M.D University of Cartagena
  <br>Postdoctoral Training: Center for Neurologic Diseases, Harvard Stem Cell Institute,
  <br>Harvard Medical School
  <br> --> 
  <h4>iPhemap Team</h4>
  <p>
  Laboratory for Neural Stem Cells and Functional Neurogenetics
  <br>Departments of Neurology and Neuroscience
  <br>Email: Jaime.imitola(@)osumc.edu
  </p>
</div>

<div class="tintedb"> 
  <h4>Contact Us</h4>
  <p>If you have any feedback, suggestions, or anything else, we'd love to hear from your!
  <br>Simply send an email to <a href="mailto:iphemap@osu.edu">iphemap@osu.edu</a> and we'll read your message as soon as possible.
  <br>If you have any data you would like to submit to our database or updates, we would also love to hear from you! If you are submitting new data, please include your name, position, and organization.
  </p>
</div>
{% endblock %}
