{% extends "ipscdb/default.html" %}      

{% block content %}
<div class="tinted"> 
  <!--
  <br><br>
  <img src='static/img/contact.jpg' style="width: 200px;">
  <br><br>
  <br>Dr. Jaime Imitola, MD
  <br>Assistant Professor
  <br>Departments of Neurology and Neuroscience
  <br> 
  <br>Degree: M.D University of Cartagena
  <br>Postdoctoral Training: Center for Neurologic Diseases, Harvard Stem Cell Institute,
  <br>Harvard Medical School
  <br> --> 
  <h4>iPhemap Team</h4>
  <div>Laboratory for Neural Stem Cells and Functional Neurogenetics</div>
  <div>Departments of Neurology and Neuroscience</div>
  <div>Email: Jaime.imitola(@)osumc.edu</div>
</div>
{% endblock %}
