{% extends "ipscdb/default.html" %}      

{% block content %}

<div class="tinted">
  <h4>Disclaimer</h4>
  <p>iPhemap is a non-profit web tool and was developed for educational and research purposes only. Although we strive to keep the content up to date and accurate, it has been manually curated and may not be current for all iPS cells phenogenetic relationships. Although we make reasonable efforts to maintain the iPhemap web tool we cannot guarantee that this would be continually free of defects. We reserve the right to make changes to iPhemap at any time without notice. No external links to iPhemap can be provided without the explicit written permission.</p>
</div>

{% endblock %}
