{% extends "ipscdb/default.html" %}      

{% block content %}
<div class="tinted">
  <h1>Methods Summary</h1>

  <p>
  Through several search efforts, we initially discovered 77 iPSC articles modeling 
  neurodegenerative diseases; however, after establishing a criteria for our meta-analysis, 
  we omitted fifteen of the original 77 articles in consideration, thus diminishing our total 
  to 62. We then analyzed these articles and documented all of the phenotypes from 
  diseased iPSC-derived cells, which we organized into nine distinct phenotypic categories. 
  From this, we generated a circos plot and ideogram to illustrate the phenotype-category 
  relationship.  Moreover, to further explore the associations between our 428 phenotypes 
  and examined genes, we generated multiple phenogenetic networks and conducted 
  statistical analyses, which we termed phenome ontology.  In addition to the cellular 
  phenotypes, we also conducted analysis of microarray data on 11 of the studies to 
  elucidate molecular phenotypes induced by transcriptional dysregulation. Following our 
  meta-analysis, we developed an online web tool, titled iPhemap, which allows  the 
  community of  users access to our phenogenetic database. Further method information 
  can be found in Supplementary Text of the published article.
  </p>
</div>
{% endblock %}
